@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: Sofia;
  font-size: 16px;
}

/* Links */
a {
  color: rgb(151, 93, 117);
  text-decoration: none;
}

/* Quando o mouse passar sobre */
a:hover {
  color: purple;
  text-decoration: none;
}

/* Fundo do site */
body {
  background-attachment: fixed;
  background-color: rgba(222, 176, 176, 0);
  background-image: url(src/abstract_pink_10.jpg);
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Wrap */
#wrap {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 280px;
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

/* Cabeçalho */
#wrap>header {
  background-color: rgba(251, 208, 251, 0);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  justify-content: space-between;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

/* Logotipo */
#wrap>header img {
  display: block;
  border-radius: 15px;
  height: 100px;
  margin: 8px 12px 8px 12px;
}

/* Título */
#wrap>header h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 10px;
  text-align: center;
  font-size: 25px;
  color: rgb(151, 93, 117);
}

/* Slogan está oculto */
#wrap>header span {
  display: block;
  padding-top: 15px;
  font-size: 16px;
  font-weight: normal;
}

/* Menu principal */
#wrap>nav {
  background-color: rgb(255, 228, 225);
  border-radius: 8px;
  box-shadow: 2px 2px 20px 5px rgb(182, 137, 156);
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#wrap>nav a {
  padding: 8px 8px;
  color: rgb(204, 109, 147);
  transition: 2ms;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#wrap>nav a:first-child {
  margin-right: auto;
}

#wrap>nav a:hover {
  color: purple;
  text-decoration: none;
}

#wrap>nav i {
  font-size: 20px;
}

#wrap>nav span {
  display: block;
  margin-top: 3px;
}

/* Ajusta menu em telas menores */
@media (min-width: 480px) {
  #wrap>nav a {
    flex-direction: row;
  }

  #wrap>nav i {
    font-size: 19px;
  }

  #wrap>nav span {
    display: inline-block;
    margin-top: 0;
    margin-left: 4px;
  }
}

/* Conteúdo */
#wrap>main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#wrap>main article {
  background-color: rgb(255, 228, 225);
  overflow: auto;
  border-radius: 8px;
  box-shadow: 0px 2px 50px 5px rgba(207, 142, 169, 0.555);
  margin: 0 8px;
  padding: 0 16px 20px;
}

#wrap>main aside {
  background-color: rgb(255, 228, 225);
  overflow: auto;
  border-radius: 8px;
  box-shadow: 0px 2px 20px 5px rgb(207, 142, 169);
  margin: 0 8px;
  padding: 0 16px 20px;
}

#wrap>main article {
  flex-grow: 1;
}

#wrap>main aside {
  margin-top: 8px;
}

@media (max-width: 425px) {
  .content {
    flex-direction: column;    
  }

  .posts-header,
  .posts-content,
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.arrow_back {
  font-size: 24px;
  padding-bottom: 4px;
  color: rgb(151, 93, 117);
}

summary {
  cursor: pointer;
}

summary:hover {
  color: purple;
}

li {
  padding-left: 15px;
}

/* Ajusta sumário em telas maiores */
@media (min-width: 768px) {
  #wrap>main {
    flex-direction: row;
  }

  #wrap>main article {
    flex-grow: 1;
  }

  #wrap>main aside {
    margin: 0;
    margin-right: 8px;
    min-width: 220px;
    max-width: 220px;
  }
}

#posts {
  padding: 5px;
}

.content {
  display: flex;
  gap: 10px;
}

.image {
  padding-top: 20px;
}

/* Rodapé */
#wrap>footer {
  background-color: rgba(251, 208, 251, 0);
  padding-top: 10px;
}

#ftop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 5px 15px;
}

.policies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home i {
  font-size: 24px;
  padding-bottom: 4px;
  color: rgb(151, 93, 117);
}

.home i:hover {
  color: purple;

}

.arrow i {
  font-size: 24px;
  padding-bottom: 4px;
  color: rgb(151, 93, 117);
}

.arrow i:hover {
  color: purple;
}

#fbottom {
  display: flex;
  justify-content: space-around;
}

#fbottom h4 {
  margin: 8px;
}

#fbottom a {
  display: block;
  align-items: center;
  justify-content: center;
  padding: 8px 8px 8px 16px;
}

#wrap>span {
  display: block;
  font-size: 0.1px;
}